# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Notebooks
notebooks/*
*.ipynb

# Data
data/*

# Zip
Realisez_un_dashboard_et_assurez_une_veille_technique_Destrac_Nicolas/*
*.zip
